@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
* {
  color: black; 
  font-family: Gowun Dodum; 
  margin: 0 auto;
}
body {
  background: azure;
}
a {text-decoration: none;}