
/*쌤 pc2 */
/* 전체 */
body {
    width:1000px;
  }
  
  /* header */
  header {
    height: 300px;
  }
  #logo {
    float: left;
  }
  #login {
    float: right;
    margin-top: 5px;
  }
  #titleImg {
    clear: both;
    height: 262px;
    width: 100%;
  }
  
  /* nav */
  .navi {width: 1000px; height: 60px; background-color: rgb(6, 54, 56);}
  .navi>a {
    display: inline-block; 
    width: 246px; 
    color: white; 
    text-align: center;
    line-height: 60px;
  }
  .navi>a:hover {color: yellow;}
  .navi>a:active {color: red;}
  
  /* 본문 */
  section {
    position: relative;
    margin-top: 20px;
    width: 630px;
    float: left;
    padding-left: 20px;
  }
  
  section h4 {color: darkcyan; margin: 10px 0;}
  
  /* side */
  aside {float:right; width: 300px; margin-top: 5px;}
  aside>img {width: 300px;}
  
  /* footer */
  footer {
    clear: both;
    background-color: rgb(66, 66, 248);
  }
  footer>p {color: white; padding: 5px 15px; font-size: small;}