/* css영역 */
h2{color:brown;}

/*==================== 1. 속성 선택자 ====================*/
/* div요소들 중 name속성값이 특정 단어와 '일치'하는 요소*/
div[name=name1] {/*div속성이 name1과 같은 것*/
    background-color: yellow;
}
/* div요소들 중 name 속성값에 특정 단어가 '포함'되어 있는 요소(단어단위 - 공백으로 구분) */
div[name~=name1]{ /* name1이 포함된 곳에 정의됨*/
    color:rgb(196, 12, 199);
}

/* div요소들 중 class 속성값이 특정 단어로 '시작'하는 요소(단어를 '-'로 구분)*/
div[class|=class]{ /*'class'로 시작하는 단어를 찾음.*/
    background-color: aquamarine;
}

/* div요소들 중 name 속성값이 특정 글자로 '시작'하는 요소*/
div[name^=na]{ /*name속성값이 na로 시작하는 단어를 찾음*/
    font-size: 20px;
}

/* div요소들 중 class속성값이 특정 글자로 '끝나는' 요소 */
div[class$=ss]{
    background-color: coral;
}
/* 뒤에 적용된 css값이 우선순위를 가짐.
    그래서 div[name=name1] {background-color: yellow;}에 적용된 값을
    div[class$=ss]{background-color: coral;}가 덮어쓰게 됨.
}*/

/* div요소들 중 class 속성값에 특정 글자가 '포함'되어 있는 요소 */
/*앞이나 뒤에 상관없이 글자가 있기만 하면 됨*/
div[class*=i]{ /*class 속성에 'i'가 포함되어 있다면*/
    background-color: chartreuse;
}

/* div요소들 중 class속성값이 div-class인 요소들 중에서 name속성값에 name3이 포함되어 있는 요소 */
.div-class[name~=name3]{
    background-color: chocolate;
}

/*==================== 2. 자손, 후손 선택자 ====================*/
/* a > b : a요소의 자손들 중에서 b요소만 선택 */
/* 하위요소들 모두 다 선택*/
/* #test1>*{ background-color: burlywood; } test1의 자손 모두 */

/* id가 test1인 요소의 자손들 중 h4요소만 선택 */
#test1>h4{
    background-color: rgb(214,85,41);
}

#test1>ul>li{
    background-color: rgb(142, 202, 205);
}

/* a b : a요소의 후손(모든 하위요소)들 중에서 b요소만 선택 */
#test1 li {
    color : red;
}

/*==================== 3. 동위 선택자 ====================*/
#test2+div{background-color: yellowgreen;}

#test2+ul{background-color: bisque;}/* 선택 안됨. 바로 뒤에 나오는 요소가 아니므로 */

/* a요소 뒤에 있는 "모든" b요소 선택 */
#test2~ul{background-color: bisque;}/* test2하위에 모든 ul */
#test2~div {color: rgb(255, 0, 157);}

/*==================== 4. 반응 선택자 ====================*/
.area{
    background-color: greenyellow;
    width : 100px;
    height : 100px;
    cursor: pointer;
}

#active-test:active{
    background-color: blueviolet;
    color: white;
}

#hover-test:hover{
    background-color: coral;
    color:aquamarine;
}

/*==================== 5. 상태 선택자 ====================*/
input[type=checkbox]:checked{ /* checkbox가 선택된다면 */
    width:30px;
    height:30px;
}
input[type=checkbox]:checked+label{ /* checkbox바로 뒤 label */
    font-size: 30px;
}

input[name^=user]:focus{ /* user로 시작하는 것에 focus가 맞춰지면 */
    background-color: pink;
}

button:enabled{
    background-color:violet;
}

button:disabled{
    background-color: rgb(94, 226, 182);
}