#c{
    color:red;
    color:#FF73EE;
    color:rgb(46,85,91);
    color:rgba(46,85,91,0.5); /* a : 투명도*/
    color:hsl(210, 50%, 50%); /*h:색상값(0~360), s:채도(%), l:명도(%)*/
}

#td1{text-decoration:overline;} 
#td2{text-decoration:line-through;} 
#td3{text-decoration:underline;} 

#td4{text-decoration: none; color:black;}

#tt1{text-transform: uppercase;}
#tt2{text-transform: lowercase;}
#tt3{text-transform: capitalize;}

.shadow{font-size:50px; font-weight:900;}
/* text-shadow: 가로거리(x), 세로거리(y) [번짐정도] [그림자색상];
    ','를 사용해서 shadow효과를 여러개 줄 수 있음 */
#ts1{color:orangered;
     text-shadow: 5px 5px;
     text-shadow: -5px -5px 5px yellow;
     /*번짐 정도 생략시 기본적으로 선명한 그림자
       색상 생략시 글자의 색상 그대로 표시*/
}

#ts2{
    color:white;
    text-shadow:0 0 10px black;
    text-shadow: 0 0 10px rgb(124, 231, 150);
}

#ts3{
    text-shadow: 0 0 4px gray,
                 0 -5px 4px yellow,
                 0 -10px 8px orange,
                 0 -15px 15px orangered,
                 0 -20px 20px red;

}

#justify{
    text-align: justify;
}

#right{
    text-align: right;
}

#center{
    text-align:center;
}