#wrapper{
    width:100%;
    margin:0 auto;
}

/* 헤더 */
header{
    width:100%; /*100%해도 됨. 같은 사이즈니까*/
    height:120px;
    background-color: chartreuse;
}

.header-text{
    font-size:2rem;
    color:white;
    text-align:center;
    line-height: 120px; /*header의 높이와 똑같이 주면 세로 가운데 정렬됨*/
}

/*본문*/
.content{
    float:left;
    width:70%;
    height:500px;
    background-color :lightcoral;
    text-align:center;
    line-height: 500px;
    font-size:1.5rem;
}

.right-side{
    /*.content에서 float:left를 줘서 나란히 옆에 쌓..여야했는데 왜 안됨*/
    float:right; /*left로 해도 됨 어차피 % */
    width:30%;
    height:500px;
    background-color:royalblue;
    text-align:center;
    line-height: 500px;
    font-size:1rem;
}

/*푸터*/
footer{
    clear:both;
    height:120px;
    background-color: lightgreen;
    line-height:120px;
    padding-left:20px;
}