.header-text{text-align:center;}

#menus{
    width:1280px;
    display:flex;

    flex-wrap: wrap;
    justify-content: center;
}

.menu-item{
    width:300px;
    height:200px;
    /* background-color: cadetblue; */
    margin:5px;
    background-size: cover;
    background:no-repeat center;
}

#menu1{
    background: url(../img/17img1.jpg);
}

#menu2{
    background: url(../img/17img2.jpg);
}

#menu3{
    background: url(../img/17img3.jpg);
}

#menu4{
    background: url(../img/17img4.jpg);
}

#menu5{
    background: url(../img/17img5.jpg);
}