@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight:500;
}
ul,li,dl,dt,dd,ol{
    list-style:none;
}
a{
    text-decoration:none;
}
body {
    width: 100%;
    overflow-x: hidden;
}
body,a{
    font-size:16px;
    font-weight:400;
    /*letter-spacing: 0.03em;*/
    font-style: normal;
    /*line-height: 1.6;*/
    color:#373737;
}



img{
    border:0;
    vertical-align:top;
}
table{
    border-collapse: collapse;
    width:100%;
}
/*이미지맵*/
img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}
@media (max-width: 991px) {
    img[usemap] {
        border: none;
        height: auto !important;
        max-width: 100%;
        width: 100% !important;
    }
}
.ellipsis{
    display:block;
    /*text-overflow:ellipsis; */
    /*overflow:hidden;*/
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    height: 1.2em;
    line-height: 1.2em;
}
.inner{
    max-width:1200px;
    margin:0 auto;
    padding:0 20px;
}
input,input[type="submit"]{
    appearance: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
input[type="radio"],
input[type="checkbox"]{
    appearance: auto;
    -webkit-appearance: auto;
}
input:focus,
textarea:focus,
select:focus,
button:focus{ outline: none;}
button,
label{ cursor:pointer}
b{font-weight:600;}

:root {
    --color: #FF9000;
    --border: rgba(140, 140, 140, 0.15);
    --line: rgba(255, 255, 255, 0.1);
}
/*main_common*/
body {
    background: #f7f7f7;
    height: 100vh;
}
.wrap {
    max-width: 730px;
    padding:0 15px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.con {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 0.5rem;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px 0 0 #0000, 0 4px 6px -4px 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.wrap:after {content:"";display:block;clear:both}
p {
    word-break: keep-all;
}
/*popup*/
.gamerule {
    border:1px solid #ddd;
    padding: 20px;
    position: fixed;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 700px;
    width:100%;
    box-shadow: 0.5rem 0.5rem #f6b52b, -0.5rem -0.5rem #ddd;
    /*display: none;*/
}
.gamerule h2 {
    display: block;
    margin-bottom: 5px;
    font-size: 22px;
    position: relative;
}
.gamerule .popupimg {
    padding: 30px ;
    text-align: center;
}
.gamerule img {
    max-width: 100%;
}
.gamerule p {
    margin-bottom: 5px;
}
.gamerule p:hover {
    color: #000;
    background: rgba(255, 255, 0, 0.23);
    display: inline-block;
    cursor: grab;
}
.ex {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

/*게임*/


h1 span {
    font-weight: 700;
    font-size:32px
}
h1 .green {
    color: #39b8a9;
}
h1 .red {
    color: #e95413;
}
h1 .yellow {
    color: #f6b52b;
}
h1.on .green{

}
h1.on .red{
    animation-delay: 1s;
}
h1.on .yellow{
    animation-delay: 5s;
}
/*
@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    30% {
        -webkit-transform: scale3d(1.25,.75,1);
        transform: scale3d(1.25,.75,1)
    }

    40% {
        -webkit-transform: scale3d(.75,1.25,1);
        transform: scale3d(.75,1.25,1)
    }

    50% {
        -webkit-transform: scale3d(1.15,.85,1);
        transform: scale3d(1.15,.85,1)
    }

    65% {
        -webkit-transform: scale3d(.95,1.05,1);
        transform: scale3d(.95,1.05,1)
    }

    75% {
        -webkit-transform: scale3d(1.05,.95,1);
        transform: scale3d(1.05,.95,1)
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    30% {
        -webkit-transform: scale3d(1.25,.75,1);
        transform: scale3d(1.25,.75,1)
    }

    40% {
        -webkit-transform: scale3d(.75,1.25,1);
        transform: scale3d(.75,1.25,1)
    }

    50% {
        -webkit-transform: scale3d(1.15,.85,1);
        transform: scale3d(1.15,.85,1)
    }

    65% {
        -webkit-transform: scale3d(.95,1.05,1);
        transform: scale3d(.95,1.05,1)
    }

    75% {
        -webkit-transform: scale3d(1.05,.95,1);
        transform: scale3d(1.05,.95,1)
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}*/
.slidedown {
    display: none;
}
.result {
    text-align: center;
}
.result div {
    display: inline-block;
    width: 200px;
}
.mainimg {
    text-align: center;
    padding: 70px 0;
}
.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn button{
    border:1px solid #ddd;
    background:#fff;
    padding: 10px 50px;
    border-radius: 10px;
    font-size:18px;
    font-weight: 500;
}
.result {
    font-size: 22px;
}
.btn button {
    transition:0.3s
}
.btn button.rock:hover , .btn button.rock.on {
    background: #e95413;
    color: #fff;
    border:1px solid #e95413;
}
.btn button.paper:hover , .btn button.paper.on {
    background: #f6b52b;
    color: #fff;
    border:1px solid #f6b52b;
}
.btn button.scissors:hover , .btn button.scissors.on {
    background: #39b8a9;
    color: #fff;
    border:1px solid #39b8a9;
}

/* 게임 결과 화면*/
.gamefinish {
    border:1px solid #ddd;
    padding: 20px;
    position: fixed;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    max-width: 500px;
    width:100%;
    text-align: center;
    box-shadow: 0 0 10px 5px #f6b52b;
   display: none;
}
.gamefinish h3 {
    font-weight:600;
    font-size:32px
}
.result_win {
    padding: 20px 0 40PX;
    font-size:50px;
    font-weight: 700;
}
.gamefinish .finish_con div {
    width: 300px;
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
    font-size:18px
}

.pc {
    color: #39b8a9;
}
.user {
    color: #e95413;
}
.draw {
    color: #f6b52b;
}
.finish_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.finish_btn a{
    display: inline-block;
    padding: 10px 20px;
    border:2px solid #000;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 3px 2px 1px #000;
}
.finish_btn a:hover {
    /*animation:blink 0.3s infinite;*/
    background: #e95413;
    color: #fff;
    box-shadow: none;
   position: relative;
    right: -5px;
    bottom: -3px;
}
.finish_btn a.restart:hover {
    background: #f6b52b;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.finish_btn a + a {
    margin-left: 30px;
}
